*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/buildSrc/.gradle
/buildSrc/build
/app/build
/feature/build
/common/data/build
/common/data-android/build
/common/datasource/build
/common/di/build
/common/mapper/build
/common/networking/build
/common/sdkextentions/build
/common/test-share/build
/common/thread/build
/common/usecase/build
/authenticator/build
/core/build
/captures
.externalNativeBuild
.cxx
local.properties
